*{
  box-sizing: border-box;
}
.gullur{
  color: yellow;
  font-size: 3em;
}
.hvitur{
  color: white;
  font-size: 3em;
}
.logo{
  height: 32px;
  width: 32px;
}
.val{
  display: grid;
  grid-template-rows: 1fr;
  padding: 0.5em;
  text-align: center;
  background-color: coral; 
}
.post{
 border: 5px, solid, cyan;
 background-color: rgb(124, 201, 226);
}
.cent{
  text-align: center
}
.container {
    margin: 0 auto;  
    padding: 1em;
  }
.bakgrun {
  background: coral;
  width: 100%;
}
.logo_header{
  height: 30px;
  width: 30px;
}
header{
  color: rgb(57, 57, 199);
}
li
{
  list-style-type: none;
  text-align: center
}
a {
    text-decoration: none;
    color: rgb(57, 57, 199);
  }
  body{
    font-family:  Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: auto;
  }
  
  @media (min-width:600px){
    .logo{
      height: 64px;
      width: 64px;
    }
    .val{
      display: grid;
      grid-template-columns:1fr 1fr;
    }
  }

@media (min-width:800px){
  .logo{
    height: 128px;
    width: 128px;
  }
  .val{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?77wdcr');
  src:  url('fonts/icomoon.eot?77wdcr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?77wdcr') format('truetype'),
    url('fonts/icomoon.woff?77wdcr') format('woff'),
    url('fonts/icomoon.svg?77wdcr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-blog:before {
  content: "\e922";
}
.icon-um:before {
  content: "\e923";
}
.icon-folk:before {
  content: "\e976";
}
.icon-github:before {
  content: "\eab0";

}

