<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{ "/assets/css/styles.css" | relative_url }}>
  </head>
  <body class=" cent">
    {% include navigation.html %}
    <header class="container bakgrun">
      <h1>
        {{ page.head }}
      </h1>
    </header>
    <section  class="main">
      <div>
        {{ content }}
      </div>
      <div class="aug">
	<a href="https://www.smashbros.com/en_US/fighter/06.html">
           <img src="assets/img/250px-Kirby_SSBU.png">
	</a>
        <h3>Smeltu á þessa mynd</h3>
      </div>
    </section>
  </body>
</html>