<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{ "/assets/css/styles.css" | relative_url }}>
  </head>
  <body class=" cent">
    <header class="container bakgrun">
      <h1>
        <img class="logo_header" src="assets/img/logo.svg">
        {{ page.head }}
      </h1>
    </header>
    <section  class="logo" class="container"></section>
      {% include navigation.html %}
      {{ content }}
    </section>
  </body>
</html>